{
  "svelteSortOrder": "options-styles-scripts-markup",
  "svelteStrictMode": true,
  "svelteBracketNewLine": false,
  "svelteAllowShorthand": false,
  "svelteIndentScriptAndStyle": false,
  "printWidth": 190,
  "trailingComma": "none",
  "tabWidth": 2,
  "singleQuote": true,
  "semi": false
}
