@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html,
main {
	height: 100%;
}

body {
	background-blend-mode: screen;
	background: linear-gradient(180deg, #6c1280 0%, #041434 100%) fixed;
}

footer > p {
	@apply container mx-auto;
}

main {
	padding-bottom: 100px;
	padding-top: 100px;
	@apply container mx-auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	max-width: 600px;
}

footer {
	border-top: 1px solid #ccc;
	padding: 5px 20px;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: rgba(255, 255, 255, 0.9);
	backdrop-filter: blur();
}

h1 {
	@apply text-4xl p-2 text-center;
}

p {
	@apply p-3;
}

.button {
	@apply bg-blue-500 text-base px-6 py-2 flex justify-center rounded-md text-white hover:bg-blue-800;
}

.button.green {
	@apply bg-green-700 hover:text-gray-50 hover:bg-green-900;
}

.button.red {
	@apply bg-red-500 hover:text-gray-50 hover:bg-red-800;
}

.button.gray {
	@apply bg-gray-200 text-gray-900 hover:text-gray-800 hover:bg-gray-300;
}

.button.round {
	border-radius: 50%;
	width: 40px;
	height: 40px;
	@apply truncate items-center text-ellipsis overflow-hidden p-0;
	margin: 0 auto;
}

.input {
	@apply border rounded-md border-gray-400 px-2 w-full;
	height: 40px;
}

.input:focus-visible {
	@apply border-blue-600 outline-none;
}

.textarea {
	@apply border rounded-md border-gray-400 p-2 w-full;
	min-height: 100px;
}

.textarea:focus-visible {
	@apply border-blue-600 outline-none;
}

.combo {
	@apply flex;
}

.combo .input {
	@apply rounded-none grow;
}

.combo .button:last-of-type {
	@apply rounded-l-none;
}

.combo .button:first-of-type {
	@apply rounded-r-none;
}

.combo .button:first-child {
	@apply rounded-l-md;
}

.combo .button:last-child {
	@apply rounded-r-md;
}

.combo .input:last-child {
	@apply rounded-r-md;
}

.combo .input:first-child {
	@apply rounded-l-md;
}

.combo > span:first-child {
	@apply bg-gray-200 rounded-l-md grid content-center px-2 border-gray-400 border border-r-0 justify-center;
	height: 40px;
}

.combo > span:last-child {
	@apply bg-gray-200 rounded-r-md grid content-center px-2 border-gray-400 border border-l-0 justify-center;
	height: 40px;
}

.box {
	@apply rounded-xl bg-white text-xl w-full flex-1 self-center;
}

.box > div {
	@apply p-6;
}

.box > .header {
	@apply text-xl text-center p-6 bg-slate-900 text-white;
}

input[type='date'] {
	display: flex;
	appearance: textfield;
	-webkit-appearance: textfield;
	-moz-appearance: textfield;
	min-height: 1.2em;
}

.stats {
	@apply p-4 bg-white text-center text-cyan-600 rounded-md w-full;
}

.stats-wrapper {
	@apply p-3 w-full flex;
}

.stats-number {
	@apply flex justify-center text-4xl text-cyan-900 pt-4;
}

.bar {
	width: 10px;
	background-color: tomato;
	margin: 0 1px;
	border-radius: 4px 4px 0 0;
}
.bars {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	height: 100px;
	max-width: 90svw;
	overflow-y: auto;
}
